section.reviews
    h4|Инвестиции
    .reviews__wrap
        .reviews__hexagon-wrap
            .reviews__hexagon
                i.fas.fa-quote-left.reviews__icon
        .reviews__item
            .reviews__description-wrap
                p.reviews__description
            .reviews__happy-user-wrap
                img(class="reviews__happy-user" src="./img/user_2.png" alt="photo")
            .reviews__name-user-wrap
                p.reviews__name-user
        .reviews__arrows
            button.reviews__arrow-btn.reviews__arrow-left-wrap
                <svg class="reviews__arrow reviews__arrow-left" width="31" height="31" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31 31">
                    <path d="M-0.01006,15.50038c0,-8.54681 6.95571,-15.49987 15.50538,-15.49987c8.54659,0 15.4999,6.95306 15.4999,15.49987c0,8.54596 -6.95331,15.49902 -15.4999,15.49902c-8.54967,0 -15.50538,-6.95306 -15.50538,-15.49902zM1.41229,15.50038c0,7.76221 6.31757,14.07667 14.08302,14.07667c7.76245,0 14.07754,-6.31446 14.07754,-14.07667c0,-7.76263 -6.31509,-14.07794 -14.07754,-14.07794c-7.76546,0 -14.08302,6.31531 -14.08302,14.07794zM4.36672,15.60152l17.39749,-10.03983l-6.06823,9.88283l6.06823,10.1998z"></path>
                </svg>
            button.reviews__arrow-btn.reviews__arrow-right-wrap
                <svg class="reviews__arrow reviews__arrow-right" width="31" height="31" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31 31">
                    <path d="M-0.01006,15.50038c0,-8.54681 6.95571,-15.49987 15.50538,-15.49987c8.54659,0 15.4999,6.95306 15.4999,15.49987c0,8.54596 -6.95331,15.49902 -15.4999,15.49902c-8.54967,0 -15.50538,-6.95306 -15.50538,-15.49902zM1.41229,15.50038c0,7.76221 6.31757,14.07667 14.08302,14.07667c7.76245,0 14.07754,-6.31446 14.07754,-14.07667c0,-7.76263 -6.31509,-14.07794 -14.07754,-14.07794c-7.76546,0 -14.08302,6.31531 -14.08302,14.07794zM4.36672,15.60152l17.39749,-10.03983l-6.06823,9.88283l6.06823,10.1998z"></path>
                </svg>




            