@media screen and (max-width: 980px) {

    .progress{

        &__hexagons-wrap{
            height: 1000px;
            transform: translateX(20px);
        }
    
        &__hexagon{
    
            &-step-one{
                left: 40px;
                top: -48px;
            }
    
            &-step-picture{
                left: 76px;
                top: 126px;
                border-right: 3px solid $main-color;
    
                &::before{
                    border-right: 3px solid $main-color;
                }
    
            }

            &-step-two{
                left: 38px;
                top: 356px;
    
                &::after{
                    border-right: 3px solid $main-color;
                    border-left: 3px solid $main-color;
                }
            }
            &-step-three{
                left: 123px;
                top: 502px;
                border-right: 1px solid $our-team-color;
                z-index: 3;
                
                &::before{
                    border-left: 1px solid $our-team-color;
                    border-right: 3px solid $main-color;
                }
    
                &::after{
                    border-right: 1px solid $our-team-color;
                    border-left: 3px solid $main-color;
                }
            }
            &-step-four{
                left: 160px;
                top: 675px;
                z-index: 2;
                border-left: 3px solid $main-color;
                border-right: 1px solid $our-team-color;
                
                &::before{
                    // border-left: 1px solid $our-team-color;
                    border-right: 1px solid $our-team-color;
                }
    
                &::after{
                    border-right: 1px solid $our-team-color;
                    border-left: 3px solid $main-color;
                }
                
            }
    
        }
        
    }

}
@media screen and (max-width: 638px) {

    .progress{
    
        &__hexagon{

            &-step-three{
                
                &::before{
                    border-right: 1px solid $our-team-color;
                }

            }
    
            &-step-four{
                left: 32px;
                top: 698px;
                width: 260px;
                height: 150px;
                border-right: 3px solid $main-color;
                border-left: 1px solid $our-team-color;
                
                &::before{
                    border-right: 3px solid $main-color;
                    border-left: 1px solid $our-team-color;
                }
    
                &::after{
                    border-left: 1px solid $our-team-color;
                    border-right: 3px solid $main-color;
                }
            }
    
        }
        
    }

}