@media screen and (max-width: 980px) {

    .progress{

        &__hexagons-wrap{
            height: 1000px;
        }
    
        &__hexagon{
    
            &-step-one{
                left: 140px;
                top: -48px;
            }
    
            &-step-picture{
                left: 176px;
                top: 126px;
                border-right: 3px solid $main-color;
    
                &::before{
                    border-right: 3px solid $main-color;
                }
    
            }

            &-step-two{
                left: 138px;
                top: 356px;
    
                &::after{
                    border-right: 3px solid $main-color;
                    border-left: 3px solid $main-color;
                }
            }
            &-step-three{
                left: 223px;
                top: 502px;
                border-right: 1px solid $our-team-color;
                z-index: 3;
                
                &::before{
                    border-left: 1px solid $our-team-color;
                    border-right: 3px solid $main-color;
                }
    
                &::after{
                    border-right: 1px solid $our-team-color;
                    border-left: 3px solid $main-color;
                }
            }
            &-step-four{
                left: 261px;
                top: 677px;
                z-index: 2;
                
                &::before{
                    border-left: 1px solid $our-team-color;
                }
                // &::before{
                //     border-left: 1px solid $our-team-color;
                //     border-right: 3px solid $main-color;
                // }
    
                &::after{
                    border-right: 1px solid $our-team-color;
                    // border-left: 3px solid $main-color;
                }
                
            }
    
        }
        
    }

}
@media screen and (max-width: 638px) {

    .progress{
    
        &__hexagon{
            &-step-three{
                
                &::before{
                    border-right: 1px solid $our-team-color;
                }
    
                &::after{
                    border-left: 1px solid $our-team-color;
                }
            }
    
            &-step-four{
                left: 91px;
                top: 677px;
                width: 260px;
                height: 150px;
                border-left: 3px solid $main-color;
                border-right: 1px solid $our-team-color;
                
                &::before{
                    border-left: 3px solid $main-color;
                    border-right: 1px solid $our-team-color;
                }
    
                &::after{
                    border-left: 3px solid $main-color;
                }
            }
    
        }
        
    }

}