.progress{
    
    &__title-wrap{
        margin-top: 65px;
    }

    &__hexagons-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // width: max-content;
        // width: 100%;
        height: 500px;
        // height: max-content;
        position: relative;
        // padding: 50px 0px;
        margin: 150px 0px 0px 0px;
    }

    &__text-wrap{
        width: 90%;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }

    &__icon-wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $main-color;
        position: absolute;
        border: 2px solid $main-color;
        transition: 0.3s all ease;

        &-one{
            left: -27px;
            top: -14px;
        }

        &-two{
            left: -27px;
            top: -14px;
        }

        &-three{
            left: -27px;
            top: 0px;
        }

        &-three-one{
            left: 143px;
            top: 100px;
        }
        
        &-four{
            left: 98px;
            top: -108px;
        }
        
        &-four-one{
            left: 74px;
            top: 170px;
            width: 100px;
            height: 100px;
            i{
                font-size: 70px;
            }
        }

    }

    &__icon{
        color: $white-tetx-color;
        font-size: 20px;
        margin: 0;
        padding: 0;
        transition: 0.3s all ease;

        &-one{
            transform: translate(1.5px, -1px);
        }

    }

    &__hexagon{
        position: relative;
        width: 167px;
        height: 98px;
        background: #fff;
        // margin: 10px;
        border-left: 1px solid $our-team-color;
        border-right: 1px solid $our-team-color;
        // overflow: hidden;
        // z-index: 0;

        &:hover .hooli{
            color: $main-color;
            transition: 0.3s all ease;
        }

        &:hover .progress__icon{
            color: $main-color;
            transition: 0.3s all ease;
        }

        &:hover .progress__icon-wrap{
            border: 2px solid $main-color;
            background: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &__title-wrap{
            margin: 0px auto 10px;
            padding: 0px 0px 5px 0px;
        }

        // &-title{
        //     margin: 0;
        //     padding: 0;
        //     // width: max-content;
        //     // position: absolute;
        //     // z-index: 1;
        //     // left: 50%;
        //     // top: 50%;
        //     // transform: translate(-50%, -50%);
        // }
        

        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: -2px;
            background: #fff;
            border-left: 1px solid $our-team-color;
            border-right: 1px solid $our-team-color;
            // overflow: hidden;
        }

        &::before{
            transform: rotate(60deg);
        }

        &::after{
            transform: rotate(-60deg);
        }


        &-step-one{
            position: absolute;
            left: -103px;
            top: 52px;
            border-right: 3px solid $main-color;
            z-index: 2;

            &::before{
                content: '';
                position: absolute;
                border-left: 3px solid $main-color;
                // border-right: 3px solid $main-color;
                
            }

            &::after{
                content: '';
                position: absolute;
                border-right: 3px solid $main-color;
            }
        }

        &-step-picture{
            position: absolute;
            left: -66px;
            top: 226px;
            background: #000;

            &::before{
                content: '';
                position: absolute;
                left: -1px;
                // width: 100%;
                // height: 100%;
                background: #000;
            }

            &::after{
                content: '';
                left: -1px;
                position: absolute;
                border-right: 3px solid $main-color;
                // height: 50%;
                // width: 100%;
                // height: 100%;
                background: #000;
            }
        }
        &-step-two{
            position: absolute;
            left: 148px;
            top: 102px;
            border-left: 3px solid $main-color;
            
            &::before{
                content: '';
                position: absolute;
                border-left: 3px solid $main-color;
            }

            &::after{
                content: '';
                position: absolute;
                // background: $white-tetx-color;
            }
        }
        &-step-three{
            position: absolute;
            left: 232px;
            top: -44px;
            border-right: 3px solid $main-color;
            border-left: 3px solid $main-color;
            
            &::before{
                content: '';
                position: absolute;
                border-left: 3px solid $main-color;
            }

            &::after{
                content: '';
                position: absolute;
                border-right: 3px solid $main-color;
            }
        }
        &-step-four{
            position: absolute;
            left: 403px;
            top: 55px;
            border-right: 3px solid $main-color;
            
            &::before{
                content: '';
                left: -2px;
                position: absolute;
                border-left: 3px solid $main-color;
                border-right: 3px solid $main-color;
            }

            &::after{
                content: '';
                left: -1px;
                position: absolute;
                border-right: 3px solid $main-color;
            }
        }

    }

    &__img{
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
        opacity: 0.5;
        top: 50%;
        z-index: 1;
        // height: 100%;
    }
    
}

.big__hexagon{
    width: 262px;
    height: 153px;
}

.hooli{
    position: absolute;
    top: 10px;
    font-size: 20px;
    color: $white-tetx-color;
    transition: 0.3s all ease;
}

@import './adapProgress.scss';