section.progress
    .progress__wrap
        .medium__title-wrap.progress__title-wrap
            p.medium__title-text.progress__title-text|
                span|Ебаные 
                |шестигранники
        .medium__subtitle-wrap
            p.medium__subtitle-text.progress__subtitle-text|Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh
                    br
                    |vulputate cursus a sit amet mauris. Morbi accumsan ipsum
        .progress__hexagons-wrap
            .progress__hexagon.progress__hexagon-step-one
                .progress__text-wrap
                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|1
                    p.small__subtitle-text.progress__hexagon-subtitle|This is Photoshop's version  of Lorem Ipsum. Proin gravida
            .progress__hexagon.big__hexagon.progress__hexagon-step-picture
                //- p.progress__hexagon-title|step picture
                img.progress__img(src="./img/hex.png", alt="")
            .progress__hexagon.progress__hexagon-step-two
                .progress__text-wrap
                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|2
                    p.small__subtitle-text.progress__hexagon-subtitle|This is Photoshop's version  of Lorem Ipsum. Proin gravida
            .progress__hexagon.progress__hexagon-step-three
                .progress__text-wrap
                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|3
                    p.small__subtitle-text.progress__hexagon-subtitle|This is Photoshop's version  of Lorem Ipsum. Proin gravida
            .progress__hexagon.big__hexagon.progress__hexagon-step-four
                .progress__text-wrap
                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|4
                    p.small__subtitle-text.progress__hexagon-subtitle|This is Photoshop's version  of Lorem Ipsum. Proin gravida
        .arrow__down.white__arrow.what-can__arrow-down|&darr;