section.progress
    .progress__wrap
        .medium__title-wrap.progress__title-wrap
            p.medium__title-text.progress__title-text|Как 
                                span|это работает
        .medium__subtitle-wrap
            p.medium__subtitle-text.progress__subtitle-text|Всего 4 простых шага, которые вам нужно сделать сегодня, чтобы уже 
                |завтра, вы посмотрели на трейдинг СОВЕРШЕННО с другой стороны.
        .progress__hexagons-wrap
            .progress__hexagon.progress__hexagon-step-one
                .progress__text-wrap
                    
                    .progress__icon-wrap.progress__icon-wrap-one
                        i.far.fa-edit.progress__icon.progress__icon-one

                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|1
                    p.small__subtitle-text.progress__hexagon-subtitle|Оставьте контактные данные 
            .progress__hexagon.big__hexagon.progress__hexagon-step-picture
            
                img.progress__img(src="./img/hex.png", alt="")
            .progress__hexagon.progress__hexagon-step-two
                .progress__text-wrap
                    
                    .progress__icon-wrap.progress__icon-wrap-two
                        i.fas.fa-phone-volume.progress__icon

                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|2
                    p.small__subtitle-text.progress__hexagon-subtitle|Дождитесь звонка специалиста
            .progress__hexagon.progress__hexagon-step-three
                .progress__text-wrap
                    
                    .progress__icon-wrap.progress__icon-wrap-three
                        //- i.fas.fa-info-circle.progress__icon
                        i.far.fa-question-circle.progress__icon


                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|3
                    p.small__subtitle-text.progress__hexagon-subtitle|Узнайте более детальную информацию о работе ААТ
                    
                    .progress__icon-wrap.progress__icon-wrap-three-one
                        i.fas.fa-thumbs-up.progress__icon

            .progress__hexagon.big__hexagon.progress__hexagon-step-four
                .progress__text-wrap
                    
                    .progress__icon-wrap.progress__icon-wrap-four
                        i.fas.fa-graduation-cap.progress__icon

                    .medium__title-wrap.progress__hexagon__title-wrap
                        p.small__title-text.progress__hexagon-title|шаг 
                            span|4
                    p.small__subtitle-text.progress__hexagon-subtitle|Выберите для себя подходящий способ развития 
                    //- .progress__icon-wrap.progress__icon-wrap-four-one
                        //- p.hooli|Пробуй
                        //- i.fab.fa-hooli.progress__icon
                        //- i.fas.fa-brain.progress__icon
        //- .arrow__down.white__arrow.what-can__arrow-down|&darr;