section.progress
    .progress__wrap
        .medium__title-wrap.progress__title-wrap
            p.medium__title-text.progress__title-text|our 
                span|progres
                br
                span|Ебаные шестигранники
        .medium__subtitle-wrap
            p.medium__subtitle-text.progress__subtitle-text|Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh
                    br
                    |vulputate cursus a sit amet mauris. Morbi accumsan ipsum
        .progress__hexagons-wrap
            .progress__hexagon.progress__hexagon-step-one
                p.progress__hexagon-title|step 1
            .progress__hexagon.big__hexagon.progress__hexagon-step-picture
                //- p.progress__hexagon-title|step picture
                //- img.progress__img(src="https://media.istockphoto.com/vectors/creepy-clown-mask-vector-id900946834?b=1&k=6&m=900946834&s=170x170&h=2QsXqICSrDPjmAa1Gz-9j50yGXJ1JjfXmEHhmaYXTNw=", alt="")
                img.progress__img(src="../img/hex.png", alt="")
            .progress__hexagon.progress__hexagon-step-two
                p.progress__hexagon-title|step 2
            .progress__hexagon.progress__hexagon-step-three
                p.progress__hexagon-title|step 3
            .progress__hexagon.big__hexagon.progress__hexagon-step-four
                p.progress__hexagon-title|step 4
        .arrow__down.white__arrow.what-can__arrow-down|&darr;