@media screen and (max-width: 638px) {

    .expand{
        &__wrap{
            width: 95%;
        }

        &__title-text{
            font-size: 18px;
            margin: 20px 15px;
        }
    }

}

@media screen and (max-width: 380px) {

    .expand{

        &__title-text{
            font-size: 15px;
        }
    }

}