section.expand
    .expand__wrap
        .expand__border
            p.big__title-text.expand__title|
                        span|Expand 
                        | your business
            .btn__wrap.expand__btn-wrap
                button.btn__g.intro__btn|Join Us
        .arrow__down.red__arrow.expand__arrow-down|&darr;