section.expand
    h2|Forex инвестиции
    .expand__wrap
        .expand__border
            p.big__title-text.expand__title|
                        span|ААТ 
                        | – Алгоритм автоматической торговли.
            p.expand__title-text|Алгоритм представляет собой четкий план действий на торговой платформе. Сюда включается поведенческая модель, расписание операций, диверсификация рисков. В зависимости от географического места нахождения трейдера, алгоритм ориентируется на время суток, когда начинается новый торговый день, чтобы трейдеру было удобно следить за результатами работы ААТ. В первую очередь, перед тем как приступить к торговле, алгоритм ориентируется на непосредственные активы, которые сулят вам прибыль сегодня.
            .expand__btn-wrap
                a.expand__nav-link.expand__about(href='#form', data-text='Получить более детальную информацию')|Получить более детальную информацию