section.what-can
    h3|Инвестиционная финансовая грамотность
    .what-can__wrap
        .medium__title-wrap.what-can__title-wrap
            p.medium__title-text.what-can__title-text|
                        span|Мгновенная обработка и анализ 
                        |всех важных новостей Принятие решения и открытие сделки занимает считаные минуты

        .what-can__item-wrap
            
            .what-can__item
                .what-can__hexagon-wrap
                    .what-can__hexagon
                        i.fas.fa-hourglass-start.what-can__icon
                p.extra-small__subtitle-text.what-can__subtitle|Вы тратите минимум своего времени 

            .what-can__item
                .what-can__hexagon-wrap
                    .what-can__hexagon
                        i.fas.fa-percent.what-can__icon
                p.extra-small__subtitle-text.what-can__subtitle|Фиксированный минимальный %.

            .what-can__item
                .what-can__hexagon-wrap
                    .what-can__hexagon
                        i.fas.fa-chart-line.what-can__icon
                p.extra-small__subtitle-text.what-can__subtitle|Потоковая обработка данных дает возможность определить точку входа в сделку с минимальной погрешностью. 
            
            
            .what-can__item
                .what-can__hexagon-wrap
                    .what-can__hexagon
                        i.fas.fa-sliders-h.what-can__icon
                p.extra-small__subtitle-text.what-can__subtitle|Настройка ААТ на любой инструмент и рынок.