.what-can{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__wrap{
        width: 75%;
    }

    &__item-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    &__hexagon-wrap{
        width: 108px;
        height: 62px;
        background: $hexagon-wrap-color;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease;

        &:before {
            content: "";
            position: absolute;
            top: -30px; 
            left: 0;
            width: 0;
            height: 0;
            border-left: 54px solid transparent;
            border-right: 54px solid transparent;
            border-bottom: 30px solid $hexagon-wrap-color;
            transition: 0.3s all ease;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -30px; 
            left: 0;
            width: 0;
            height: 0;
            border-left: 54px solid transparent;
            border-right: 54px solid transparent;
            border-top: 30px solid $hexagon-wrap-color;
            transition: 0.3s all ease;
        }

        &:hover {
            background: $main-color;
            transition: 0.3s all ease;
        }

        &:hover::before {
            border-bottom-color: $main-color;
            transition: 0.3s all ease;
        }

        &:hover::after {
            border-top-color: $main-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon{
            background: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon::before{
            border-bottom-color: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon::after{
            border-top-color: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__svg{
            fill: $main-color;
            transition: 0.3s all ease;
        }
        
    }

    &__hexagon{
        width: 100px;
        height: 55px;
        background: $main-color;
        position: relative;
        z-index: 1;
        transition: 0.3s all ease;

        &:before {
            content: "";
            position: absolute;
            top: -28px; 
            left: 0;
            width: 0;
            height: 0;
            border-left: 50.5px solid transparent;
            border-right: 50.5px solid transparent;
            border-bottom: 28px solid $main-color;
            transition: 0.3s all ease;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -28px; 
            left: 0;
            width: 0;
            height: 0;
            border-left: 50.5px solid transparent;
            border-right: 50.5px solid transparent;
            border-top: 28px solid $main-color;
            transition: 0.3s all ease;
        }
    }

    &__title-wrap{
        margin-top: 65px;
    }

    &__svg-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__svg{
        fill: #fff;
        width: 30px;
        transition: 0.3s all ease;
    }

}
