.what-can{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__wrap{
        width: 75%;
    }

    &__item-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
    }

    &__hexagon-wrap{
        width: 100px;
        height: 58px;
        background: $hexagon-wrap-color;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        margin-bottom: 50px;
        transition: 0.3s all ease;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(60deg);
            background: $hexagon-wrap-color;
            transition: 0.3s all ease;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(-60deg);
            background: $hexagon-wrap-color;
            transition: 0.3s all ease;
        }

        &:hover {
            background: $main-color;
            transition: 0.3s all ease;
        }

        &:hover::before {
            background: $main-color;
            transition: 0.3s all ease;
        }

        &:hover::after {
            background: $main-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon{
            background: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon::before{
            background: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__hexagon::after{
            background: $white-tetx-color;
            transition: 0.3s all ease;
        }

        &:hover .what-can__svg{
            fill: $main-color;
            transition: 0.3s all ease;
        }
        
    }

    &__hexagon{
        width: 90px;
        height: 52px;
        background: $main-color;
        position: relative;
        z-index: 1;
        transition: 0.3s all ease;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(60deg);
            background: $main-color;
            z-index: 1;
            transition: 0.3s all ease;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(-60deg);
            background: $main-color;
            z-index: 1;
            transition: 0.3s all ease;
        }
    }

    &__title-wrap{
        margin-top: 65px;
    }

    &__svg-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__svg{
        fill: #fff;
        width: 30px;
        transition: 0.3s all ease;
        z-index: 2;
    }

    &__title{
        padding-bottom: 11px;
        margin-bottom: 21px;    
    }

    &__arrow-down{
        margin-top: 51px;
        margin-bottom: 15px;
    }

}
