section.what-can
    .what-can__wrap
        .small__title-wrap.what-can__title-wrap
            p.small__title-text.what-can__title-text|What can 
                span|you receive?
        .small__subtitle-wrap
            p.small__subtitle-text.what-can__subtitle-text|Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh
                                                    br
                                                    |vulputate cursus a sit amet mauris. Morbi accumsan ipsum
        .what-can__item-wrap