// Переменные
$white-tetx-color: #fff; // Белый цвет
$big-title-size: 50px; // Размер больших заголовков
$main-color: #fc635e; // Основной цвет
$main-text-color: #868686; // Основной цвет текста
$main-subtitle-color: #adadad;
$our-team-color: #565656; // Цвет текста в блоке our team
$main-fonts: 'Muli', sans-serif; // Основной шрифт
$hexagon-wrap-color: #fe8682;
$bg-two: #f2f2f2;
$red-btn-color: #f2f2f2;

// Основные стили
.body{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Expletus Sans', cursive;
    // font-family: 'Merriweather Sans', sans-serif;
    background: url('../img/bg.png');
    background-size: cover;
}

.body__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1260px;
    margin: 0px auto;
    box-shadow: 0px 2px 9px 5px grey;
    background: $white-tetx-color;
}

.big__title-text{
    color: $white-tetx-color;
    font-size: $big-title-size;
    font-weight: 700;
    font-family: $main-fonts;
    text-transform: uppercase;
    text-align: center;
    span {
        color: $main-color;
    }
}

.medium__title-wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    position: relative;
    border-bottom: 2px solid $main-subtitle-color;
    padding-bottom: 12px;
    margin-bottom: 30px;
}

.medium__title-text{
    font-family: $main-fonts;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;
    line-height: 1.25;

    span {
        color: $main-color;
    }
    
}

.small__title-text{
    color: $main-text-color;
    font-size: 24px;
    font-weight: 500;
    font-family: $main-fonts;
    text-transform: uppercase;
    
    span{
        color: $main-color;
    }
}

.extra-small__title-text{
    font-family: $main-fonts;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;
    border-bottom: 1px solid $main-subtitle-color;
}

.big__subtitle-text{
    font-family: $main-fonts;
    color: $white-tetx-color;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.medium__subtitle-text{
    font-family: $main-fonts;
    text-align: center;
    color: $main-subtitle-color;
    font-size: 20px;
}

.small__subtitle-text{
    color: $main-subtitle-color;
    font-family: $main-fonts;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.1px;
    text-align: center;
}

.extra-small__subtitle-text{
    font-family: $main-fonts;
    text-align: center;
    color: $main-subtitle-color;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.7px;
}

.btn__wrap{
    display: flex;
    width: max-content;
    margin: 0 auto;
    position: relative;
    border: 2px solid $main-color;
    border-radius: 10px;
    
}

.btn__g{
    background: transparent;
    border: none;
    color: $main-color;
    padding: 10px 30px;
    font-family: $main-fonts;
    font-size: 24px;
    font-weight: 300;
}

.arrow__down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.red__arrow{
    background: $main-color;
    color: $white-tetx-color;
}
.white__arrow{
    background: $white-tetx-color;
    border: 1px solid $main-color;
    color: $main-color;
}

.two-part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
}

.left-part{
    display: flex;
    flex-direction: column;
    // width: 45%;
    width: 380px;
    margin: 15px;

    &__title{
        color: $main-text-color;
        font-family: $main-fonts;
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;
        border-left: 10px solid $main-color;
        padding-left: 12px;
    }

    &__subtitle{
        color: $main-subtitle-color;
        font-family: $main-fonts;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }

    &__btn-wrap{
        display: flex;
        width: max-content;
        background: $main-color;
        border-radius: 5px;
        padding: 10px 18px;
        margin-top: 39px;
        // &-reverse{
        //     margin-right: ;
        // }
    }

    &__btn{
        border: none;
        background: none;
        color: $red-btn-color;
        font-size: 20px;
        font-family: $main-fonts;
    }

    &__reverse{
        align-items: flex-end;
    }

}


.reverse{
    flex-direction: row-reverse;
}

.left-part__title-reverse{
    text-align: right;
    padding-right: 12px;
    border-left: none;
    border-right: 10px solid $main-color;
}

.left-part__subtitle-reverse{
    text-align: right;
}

.right-part{
    display: flex;
    // width: 55%;
    // width: 500px;
    margin: 15px;
    // flex-direction: row;
    // justify-content: flex-end;
    // height: 100%;
}

@import './adaptGlobal.scss';