.body {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: url("../img/bg.png");
  background-size: cover;
}

.body__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1260px;
  margin: 0px auto;
  -webkit-box-shadow: 0px 2px 9px 5px grey;
          box-shadow: 0px 2px 9px 5px grey;
  background: #fff;
}

.big__title-text {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.big__title-text span {
  color: #fc635e;
}

.medium__title-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  border-bottom: 2px solid #adadad;
  padding-bottom: 12px;
  margin-bottom: 30px;
}

.medium__title-text {
  font-family: "Muli", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: #868686;
  text-align: center;
  line-height: 1.25;
}

.medium__title-text span {
  color: #fc635e;
}

.small__title-text {
  color: #868686;
  font-size: 24px;
  font-weight: 500;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
}

.small__title-text span {
  color: #fc635e;
}

.extra-small__title-text {
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  color: #868686;
  text-align: center;
  border-bottom: 1px solid #adadad;
}

.big__subtitle-text {
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.medium__subtitle-wrap {
  max-width: 548px;
}

.medium__subtitle-text {
  font-family: "Muli", sans-serif;
  text-align: center;
  color: #adadad;
  font-size: 20px;
  line-height: 1.2;
}

.small__subtitle-text {
  color: #adadad;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: center;
}

.extra-small__subtitle-text {
  font-family: "Muli", sans-serif;
  text-align: center;
  color: #adadad;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.7px;
}

.btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  position: relative;
  border: 2px solid #fc635e;
  border-radius: 10px;
}

.btn__g {
  background: transparent;
  border: none;
  color: #fc635e;
  padding: 10px 30px;
  font-family: "Muli", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.two-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  margin: 15px;
}

.left-part__title {
  color: #868686;
  font-family: "Muli", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  border-left: 10px solid #fc635e;
  padding-left: 12px;
}

.left-part__subtitle {
  color: #adadad;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.left-part__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fc635e;
  border-radius: 5px;
  padding: 10px 18px;
  margin-top: 39px;
}

.left-part__btn {
  border: none;
  background: none;
  color: #f2f2f2;
  font-size: 20px;
  font-family: "Muli", sans-serif;
}

.left-part__reverse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.left-part__title-reverse {
  text-align: right;
  padding-right: 12px;
  border-left: none;
  border-right: 10px solid #fc635e;
}

.left-part__subtitle-reverse {
  text-align: right;
}

.right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

@media screen and (max-width: 980px) {
  .two-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 638px) {
  .big__title-text {
    font-size: 30px;
  }
  .medium__title-text {
    font-size: 22px;
  }
  .right-part {
    width: 300px;
  }
}
/*# sourceMappingURL=global.css.map */