@media screen and (max-width: 980px) {

    

}


@media screen and (max-width: 638px) {

    .advertising{

        &__wrap{
            width: 90%;
        }
        
        // &__item-right{
        //     width: 100%;
        // }

        &__macbook{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &::before{
                right: 37px;
                top: 11px;
                width: 226px;
                height: 144px;
            }
        }

        &__macbook img{
            width: 100%;
        }

        // &__ipad{
        //     bottom: -50px;
        //     right: -15px;
        // }

    }

}