section.advertising
    .advertising__wrap
        .two-part.reverse.advertising__item-wrap
            .left-part.left-part__reverse.advertising__item-left
                //- .left-part__title-wrap
                p.left-part__title.left-part__title-reverse.advertising__title|advertising
                p.left-part__subtitle.left-part__subtitle-reverse.advertising__subtitle|This is Photoshop's version  of Lorem Ipsum. 
                    |Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                    |nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam 
                .left-part__btn-wrap.left-part__btn-wrap-reverse
                    button.left-part__btn|More details
            .right-part.advertising__item-right
                .advertising__macbook
        .arrow__down.white__arrow.we-do__arrow-down|&darr;