footer.footer
    .footer__wrap
        a.footer__logo-link.hexagon(href='#')
            p|A
                span.logo__span|AAT
        .copyright__wrap
            p.copyright__title|политика конфиденциальности
            p.copyright__subtitle|Мы не передаем Ваши данные третьим лицам 
                br
                a(href="index.html")|aat-algorithm.online
                |&nbsp;&copy; 2019. Все права защищены