<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta property="og:title" content="Финансовый рынок, инвестиции">
        <meta property="og:title" content="Инвестиционная финансовая грамотность">
        <meta property="og:title" content="Трейдинг обучение">
        <meta property="og:title" content="Forex инвестиции">
        <meta property="og:title" content="БЕСПЛАТНЫЙ КУРС ИНВЕСТИЦИЙ">
        <meta property="og:title" content="Инвестиции">
        <meta property="og:title" content="Инвестирование никогда не было настолько простым. Инвестиционная платформа — на устройстве которое вы выберете.">
        <meta name="description" content="Финансовый рынок, инвестиции">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W7G8SSM');</script>
        <!-- End Google Tag Manager -->

        title AAT
        link(rel="shortcut icon", href="./img/favicon.png", type="image/x-icon")
        link(href='https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900iRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iUbuntu:300,300i,400,400i,500,500i,700,700i&display=swap', rel='stylesheet')
        link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
        link(rel="stylesheet", href="css/main.css")
    body.body
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7G8SSM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        .body__wrap
            h1|Финансовый рынок, инвестиции
            include ../blocks/intro/intro.pug
            include ../blocks/what-can/what-can.pug
            include ../blocks/expand/expand.pug
            include ../blocks/progress/progress.pug
            include ../blocks/we-do/we-do.pug
            include ../blocks/reviews/reviews.pug
            include ../blocks/form/form.pug
            include ../blocks/footer/footer.pug
    
        script(src="./js/reviews.js")
        script(src="./js/form.js")
        script(src="./js/main.js")