<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W7G8SSM');</script>
        <!-- End Google Tag Manager -->
        title AAT
        link(rel="shortcut icon", href="./img/favicon.png", type="image/x-icon")
        link(href='https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900iRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iUbuntu:300,300i,400,400i,500,500i,700,700i&display=swap', rel='stylesheet')
        link(rel="stylesheet", href="css/main.css")
    body.body
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7G8SSM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        .body__wrap
            section.intro.intro__thanks
                .intro__wrap
                    header.header
                        a.header__logo-link.hexagon(href='index.html')
                            p|A
                            span.logo__span|AAT
                        p.big__title-text.intro__title|
                                    span|Ваша заявка успешно отправленна 
                                    br
                                    |мы с вами свяжемся.