@media screen and (max-width: 638px) {

    .we-do{

        &__item-right{
            align-items: center;
        }

        &__wrap{
            width: 95%;
        }

        &__thunderbolt img{
            width: 100%;
        }

        &__thunderbolt{

            &::before{
                width: 276px;
                height: 155px;
            }
        }

        &__macbook{
            display: none;
        }

        &__ipad{
            display: none;
        }

    }

}