section.we-do
    h2|Инвестирование никогда не было настолько простым. Инвестиционная платформа — на устройстве которое вы выберете.
    .we-do__wrap
        .medium__title-wrap.we-do__title-wrap
            p.medium__title-text.we-do__title-text|Почему стоит выбрать 
                span|ААТ 
                |?
        .two-part.we-do__item-wrap
            .left-part.we-do__item-left
                p.left-part__title.we-do__title|Преимущества
                p.left-part__subtitle.we-do__subtitle|Работа в команде профессионалов с многолетним опытом. 
                    br
                    |Мобильность и доступность в любой точке мира. 
                    br
                    |Простота в использовании.
                    br
                    |Результат, который вы сможете увидеть с первого дня.
            .right-part.we-do__item-right
                .we-do__thunderbolt
                    img(src="./img/ThunderboltDisplay.png", alt="ThunderboltDisplay")
                .we-do__macbook
                    img(src="./img/MacBook.png", alt="MacBook")
                .we-do__ipad
                    img(src="./img/iPad.png", alt="iPad")