section.we-do
    .we-do__wrap
        .medium__title-wrap.we-do__title-wrap
            p.medium__title-text.we-do__title-text|What do 
                span|we do?
        .two-part.we-do__item-wrap
            .left-part.we-do__item-left
                //- .left-part__title-wrap
                p.left-part__title.we-do__title|Landing Pages
                p.left-part__subtitle.we-do__subtitle|This is Photoshop's version  of Lorem Ipsum. 
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                    nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam 
                .left-part__btn
            .right-part.we-do__item-right
                .we-do__thunderbolt
                .we-do__macbook
                .we-do__ipad
        .arrow__down.white__arrow.we-do__arrow-down|&darr;