section.intro
    h2|БЕСПЛАТНЫЙ КУРС ИНВЕСТИЦИЙ
    .intro__wrap
        include ../header/header.pug
        p.big__title-text.intro__title|
                    span|Инновационный подход к системе трейдинга 
                    br
                    |который включает в себя опыт миллионов трейдеров по всему миру.
        .intro__btn-wrap
            a.intro__nav-link.intro__about(href='#form', data-text='Получить более детальную информацию')|Узнать подробнее