section.intro
    h2|БЕСПЛАТНЫЙ КУРС ИНВЕСТИЦИЙ
    .intro__wrap
        include ../header/header.pug
        p.big__title-text.intro__title|
                    span|Инновационный подход к системе трейдинга 
                    br
                    |который включает в себя опыт миллионов трейдеров по всему миру.