section.intro
    .intro__wrap
        include ../header/header.pug
        p.big__title-text.intro__title|
                    span|Clients 
                    |in your business
        p.big__subtitle-text.intro__subtitle|Your clients on the internet. Learn how to receive them.