section.intro
    .intro__wrap
        include ../header/header.pug
        p.big__title-text.intro__title|
                    span|Инновационный подход к системе трейдинга 
                    br

                    |который включает в себя опыт миллионов трейдеров по всему миру.
        //- p.big__subtitle-text.intro__subtitle|Your clients on the internet. Learn how to receive them.
        //- .btn__wrap.intro__btn-wrap
        //-     button.btn__g.intro__btn|I want clients
        .arrow__down.red__arrow.intro__arrow-down|&darr;