@media screen and (max-width: 736px) {

    // .header__logo-link{
    //     margin-bottom: 30px;

    // }

    // .header__nav{
    //     margin: 0 auto;
    // }

}

@media screen and (max-width: 638px) {

    .header{
        flex-direction: column;

        &__nav{
            flex-direction: column;
            margin-top: 35px;
        }

        &__nav-link{
            // font-size: 14px;
            letter-spacing: -1.3px;
        }

    }

}

@media screen and (max-width: 380px) {

    .header{
        align-items: center;

        &__logo-link{
            transform: translate(-50%);
        }

        &__nav{
            flex-direction: column;
            margin-top: 40px;
        }

        // &__nav-link{
        //     font-size: 11.5px;
        // }

    }

}