@media screen and (max-width: 980px) {

    

}


@media screen and (max-width: 638px) {

    .header{
        flex-direction: column;

        &__nav{
            flex-direction: column;
            margin-top: 35px;
        }

        &__nav-link{
            font-size: 14px;
        }

    }

}

@media screen and (max-width: 380px) {

    .header{
        align-items: center;

        &__logo-link{
            transform: translate(-50%);
        }

        &__nav{
            flex-direction: column;
            margin-top: 40px;
        }

        &__nav-link{
            font-size: 11.5px;
        }

    }

}