.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 38px 0px;
    position: relative;

    &__logo-link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 35px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 900;
        align-items: center;
        text-decoration: none;
        font-family: $main-fonts;
        margin-right: 80px;
        p{
            z-index: 1;
        }
    }

}

.hexagon {
	width: 59px;
	height: 34px;
	background: $main-color;
    position: relative;
}

.hexagon:before, .hexagon:after{
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $main-color;
}
.hexagon::before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}


.logo__span{
    position: absolute;
    left: 100%;
    font-size: 30px;
    color: #fff;
    padding-left: 15px;
}

.header__logo{
    width: 75px;
    height: 75px;
}

.header__nav{
    display: flex;
    align-items: center;

    &-link{
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        width: max-content;
        background: $main-color;
        padding: 8px 20px;
        border: 1.5px solid $main-color;
        color: $red-btn-color;
        font-size: 18px;
        font-family: "Muli", sans-serif;
        transition: 0.3s all ease;

        &:hover{
            border-color: #fff;
            transition: 0.3s all ease;
            color: $main-color;
            border: 1.5px solid $main-color;
            background: transparent;
            transition: 0.3s all ease;
        }
        
    }

}

@import './adaptHeader.scss';