header.header
      a.header__logo-link.hexagon(href='index.html')
        p|A
          span.logo__span|AAT
      nav.header__nav
        a.header__nav-link.header__about(href='#form', data-text='Получить более детальную информацию')|Получить более детальную информацию