.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 38px 0px;
    position: relative;

    &__logo-link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 35px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 900;
        align-items: center;
        text-decoration: none;
        font-family: $main-fonts;
        p{
            z-index: 1;
        }
    }

}

.hexagon {
	width: 59px;
	height: 34px;
	background: $main-color;
    position: relative;
    // z-index: 0;
}

.hexagon:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
    background: $main-color;
    // z-index: 0;
	// top: -15px; 
	// left: 0;
	// width: 0;
	// height: 0;
	// border-left: 30px solid transparent;
	// border-right: 30px solid transparent;
	// border-bottom: 15px solid $main-color;
}
.hexagon:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    background: $main-color;
    // z-index: 0;
	// bottom: -15px; 
	// left: 0;
	// width: 0;
	// height: 0;
	// border-left: 30px solid transparent;
	// border-right: 30px solid transparent;
	// border-top: 15px solid $main-color;
}


.logo__span{
    position: absolute;
    left: 100%;
    font-size: 30px;
    color: #fff;
    padding-left: 15px;
}

.header__logo{
    width: 75px;
    height: 75px;
}

.header__nav{
    display: flex;
    align-items: center;

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &-link{
        text-decoration: none;
        margin: 5px 10px;
        text-transform: uppercase;
        color: #fff;

        &:last-child{
            margin-right: 0px;
        }
    }

}


.header__nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: $main-fonts;
}

.header__nav ul li a:hover::before{
    width: 100%;
}

.header__nav ul li a::before{
    content: attr(data-text);
    border-bottom: 3px solid $main-color;
    color: #fff;
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    transition: 0.4s;
    position: absolute;
    padding: 6px 0px;
    left: 0;
    top: -4.5px;
}

@import './adaptHeader.scss';