header.header
      a.header__logo-link.hexagon(href='index.html')
        p|A
          span.logo__span|AAT
      nav.header__nav
        ul
          li
            a.header__nav-link.header__about(href='#', data-text='Об авторе')|Об авторе
          li
            a.header__nav-link.header__payment(href='#', data-text='Покупка и оплата')|Покупка и оплата
          li
            a.header__nav-link.header__contacts(href='#', data-text='Контакты')|Контакты