.form{
    width: 100%;
    background: $bg-two;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrap{
        display: flex;;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }

    &__input-wrap{
        position: relative;
        margin: 10px 15px;
    }

    &__phone-flag{
        display: none;
        position: absolute;
        flex-direction: column;
        background: $bg-two;
        width: 99%;
        max-height: 200px;
        bottom: 40px;
        overflow-y: scroll;
        border-radius: 5px;
        margin-bottom: 3px;
        box-shadow: 0px -3px 7px 2px $main-subtitle-color;
        left: 1px;
        ul{
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 3px 0px;
                padding-left: 60px;
                height: 30px;
                cursor: pointer;
                border-bottom: 1px solid $main-subtitle-color;
                &:last-child{
                    border-bottom: none;
                }
                span{
                    position: absolute;
                    width: 48.6px;
                    height: 24.6px;
                    left: 5px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0px 1px 3px 2px #adadad;
                }
            }
        }
    }

    &__flag-span{
        position: absolute;
        width: 57px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: initial;
        height: 35px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        left: 2px;
        bottom: 3px;
        cursor: pointer;
        box-shadow: 0px 1px 3px 2px #adadad;
    }

    label{
        font-family: "Muli", sans-serif;
        line-height: 1.5;
        color: $our-team-color;
        font-weight: 600;
    }

    &__input{
        width: 250px;
        height: 38px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1.5px solid $main-subtitle-color;
        padding: 0 5px;
        transition: 0.3s all ease;

        &::placeholder{
            font-size: 13px;
        }

        &:focus{
            outline: none;
            border: 1.5px solid $primary;
            transition: 0.3s all ease;
        }

        &-alert{
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 65px;
            width: 99%;
            height: 38px;
            border: 1.5px solid #fc635e;
            box-shadow: 0px 0px 5px 2px #adadad;
            background: #fff;
            border-radius: 5px;

            &-email{

                &-text{
                    color: #fc635e;
                    text-shadow: 0px 1px 3px #adadad;
                }

                &-active{
                    display: flex;
                }
            }

            &-phone{

                &-text{
                    color: #fc635e;
                    text-shadow: 0px 1px 3px #adadad;
                }

                &-active{
                    display: flex;
                }
            }

        }

    }

    &__phone{
        width: 187px;
        padding-left: 70px;
    }

    &__btn-wrap{
        margin-top: 20px;
    }


    &__btn{
        cursor: pointer;
        display: flex;
        width: max-content;
        background: $main-color;
        border-radius: 5px;
        padding: 8px 46px;
        border: 1.5px solid $main-color;
        color: $red-btn-color;
        font-size: 18px;
        font-family: "Muli", sans-serif;
        margin: 10px 15px;
        transition: 0.3s all ease;

        &:hover{
            color: $main-color;
            border: 1.5px solid $main-color;
            background: $red-btn-color;
            transition: 0.3s all ease;
        }
    }
}

.phone-flag-active{
    display: flex;
}

.form__error{

    &:focus{
        outline: none;
        border: 1.5px solid $main-color;
        transition: 0.3s all ease;
    }
}