//- form(action="mail.php", method="post")
form.form#form
    p.medium__title-text|КОЛИЧЕСТВО ЗАЯВОК НА 
            span|БЕСПЛАТНЫЙ 
            |ОБУЧАЮЩИЙ КУРС ОГРАНИЧЕНО.
    .form__wrap
        .form__input-wrap.form__name-wrap
            label|Ваше имя
                input(class="form__input form__name" type="text" name="user_name" placeholder="Ваше имя" title="Заполните поле")

        
        .form__input-wrap.form__email-wrap
            .form__input-alert.form__input-alert-email
                p.small__subtitle-text.form__input-alert-email-text|Заполните корректно поле
            label|Ваша почта
                input(class="form__input form__email" type="email" name="user_email" placeholder="Ваш E-mail" title="Заполните поле")

        
        .form__input-wrap.form__phone-wrap
            .form__phone-flag
                ul
            span.form__flag-span
            .form__input-alert.form__input-alert-phone
                p.small__subtitle-text.form__input-alert-phone-text|Только цифры
            label|Ваш номер телефона
                input(class="form__input form__phone" type="text" name="user_phone" placeholder="Ваш номер телефона" title="Заполните поле")

        .form__btn-wrap
            button(class="form__btn" type="submit" name="send_form" value="Зарегестрироваться на курс" title="Отправить заявку")|Узнать подробней
        //- input(class="form__btn" type="submit" name="send_form" value="Зарегестрироваться на курс")