form(action="mail.php", method="post")
    label|Имя
        input(type="text" name="user_name" placeholder="Имя пиши")
    label|почта
        input(type="text" name="user_mail" placeholder="почта пиши")
    label|номер
        input(type="text" name="user_phone" placeholder="номер пиши")
    button(type="submit")|GO mf! 